:root {
    --txt: #c9d6de;
    --txtBold: #c9d6ff;
    --back: #181818;
    --a: #38baaf;
    --aHover: #98DBC6;
    --border: #5D3FD3;
    --panel: #101111;
    --accent: #5D3FD3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: text;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: var(--back);
    color: var(--txt);
}

a {
    color: var(--a);
}

a:hover {
    color: var(--aHover);
}

#app {
    width: 100%;
}

#editor {
    width: 100%;
    height: 300px;
}

* button,
* select {
    user-select: none;
}

main {
    padding: 5px;
    min-height: calc(100vh - 50px);
    padding-bottom: 70px;
}

main button,
main select {
    padding: 5px 10px;
    border: 1px solid var(--border);
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--panel);
    color: var(--txtBold);
    transition: all 0.2s ease;
    margin-right: 2rem;
}

main button:hover {
    background-color: var(--accent);
}

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    background-color: var(--panel);
    height: 50px;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
}

nav select,
nav button {
    padding: 5px 10px;
    border: 1px solid var(--border);
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--panel);
    color: var(--txtBold);
    transition: all 0.2s ease;
    margin-right: 1rem;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: var(--panel);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--border);
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    color: var(--txt);
}

.close-btn {
    color: var(--txt);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: var(--aHover);
    text-decoration: none;
}

.modal-content input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--border);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: var(--back);
    color: var(--txt);
}

.modal-content button {
    width: 100%;
    background-color: var(--accent);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #45a049;
}

#collection-list {
    margin-bottom: 10px;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid var(--border);
    padding: 5px;
}