PORT=14785
#BASE_DIR="./" # server will not leave this directory (eg ../../..), default process.cwd()
#INTERNAL_VDB="./serverDB" # Valthera DB server system database path
#PARSERS_DIR="./parsers" # custom parsers directory

#SSL_CERT="./certs/cert.pem" # enable HTTPS by setting path to SSL certificate
#SSL_KEY="./certs/key.pem" # SSL private key (required if SSL_CERT is set)
#SSL_CA="./certs/ca.pem" # optional CA bundle
#SSL_PORT=14786 # HTTPS port (default: HTTP port + 1)
#HTTP_ENABLED=false # set to "false" to disable HTTP (HTTPS-only mode)
#KEEPALIVE_TIMEOUT=60000 # ms, how long to keep idle connections open (default: 60000)
